<div class="body">
  <div class="outer-container">
    <div class="left-container">
      <h1>The UK digital bank that bridges you to the world.</h1>
      <br/>
      <h3>Why iFAST Global Bank?</h3>
      <br/>
      <div class="text-container">
        <span class="icon-container" nz-icon nzType="check-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'" ></span><h5 class="intro">Regulated UK Bank</h5>
      </div>
      <div class="text-container">
        <span class="icon-container" nz-icon nzType="check-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></span><h5 class="intro">Following a single application, we offer you multi-currency account including GBP, USD, EUR, HKD, SDG and
        CHY</h5>
      </div>
      <div class="text-container">
        <span class="icon-container" nz-icon nzType="check-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></span><h5 class="intro">Your eligible deposits with us, are protected up to the total sum of $85,000 by the Financial Services
        Compensation Scheme(FSCS)</h5>
      </div>
      <div class="text-container">
        <span class="icon-container" nz-icon nzType="check-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></span><h5 class="intro">Free account opening and no account fees</h5>
      </div>
    </div>
    <div class="right-container">
      <p>I am applying for an account as</p>
      <div class="user-type-outer-container">
        <select class="user-type-choice">
          <option>An Individual Applicant</option>
        </select>
        <div class="get-started-btn-container">
          <button class="get-started-btn" routerLink="/new-or-old-client">Get Started</button>
        </div>

      </div>
    </div>
  </div>
</div>
