<div class="body">
  <div class="container">
    <p class="small-heading">To Help Us Understand You Better</p>
    <p class="big-heading">Have you registered with any companies of iFAST GROUP</p>
    <div class="container-group">
      <div routerLink="/employee-or-business-partner" class="left-container">
        <p>No, I am new to iFast
        </p>
      </div>
      <div routerLink="/employee-or-business-partner" class="right-container">
        <p>Yes, I am an iFAST client</p>
      </div>
    </div>
<!--    <p class="small-paragraph"> Continue your unfinished application? <a href="">Click here</a></p>-->
  </div>
</div>

