.body{
  /*background-color: lightgrey;*/
  padding: 100px;
  /*border: 1px solid red;*/
}
.form-container{
  width: 900px;
  height:500px;
  background-color: #D5E0E8;
  border: none;
  border-radius: 10px;
  padding: 40px;
  margin: auto;

  /*border: 1px solid red;*/

}

.title-container{
  text-align: center;
  /*border: 1px solid red;*/
  padding: 0 60px 0 60px;
  margin-bottom: 50px;
}


.inputField{
  width: 500px;
  height: 50px;
  text-align: left;
}

.big-title{
  font-size: 40px;
  font-weight: bold;
}

.input-field-group-container{
  margin: auto;
  width: 500px;
  /*border: 1px solid red;*/

}

.input-field-container{
  margin-bottom: 10px;
  margin-top: 10px;
}

email-field-container{
  height: 50px;
  text-align: left;
  width: 200px;

}

.button-container{
  /*border: 1px solid red;*/
  text-align: end;
}

.next-btn{
  height: 50px;
  width: 110px;
  background-color: #000C1F;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid black;
}

.next-btn:hover{
  opacity: .8;
}

.email-input-field-container{
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
  /*border: 1px solid red;*/
}

nz-select {
  margin-right: 8px;
  width: 190px;

}

